[submodule ".github"]
	path = .github
	url = https://github.com/jerroldneal/december25-github.git
[submodule "ideas"]
	path = ideas
	url = https://github.com/jerroldneal/all-ideas.git
[submodule "cwg-table-helper"]
	path = cwg-table-helper
	url = https://github.com/jerroldneal/cwg-table-helper.git
[submodule "workshops/clubwptgold-action"]
	path = workshops/clubwptgold-action
	url = https://github.com/jerroldneal/clubwptgold-action.git
[submodule "cwg-auto-iceberg-pro"]
	path = cwg-auto-iceberg-pro
	url = https://github.com/jerroldneal/cwg-auto-iceberg-pro.git
[submodule "workshops/telemetry-bus"]
	path = workshops/telemetry-bus
	url = https://github.com/jerroldneal/telemetry-bus.git
[submodule "workshops/launch-code"]
	path = workshops/launch-code
	url = https://github.com/jerroldneal/launch-code.git
