[submodule ".github"]
	path = .github
	url = https://github.com/jerroldneal/december25-github.git
[submodule "ideas"]
	path = ideas
	url = https://github.com/jerroldneal/all-ideas.git
[submodule "smart-compaction"]
	path = smart-compaction
	url = https://github.com/jerroldneal/smart-compaction.git
