[submodule ".github"]
	path = .github
	url = https://github.com/jerroldneal/december25-github.git
[submodule "ideas"]
	path = ideas
	url = https://github.com/jerroldneal/all-ideas.git
[submodule "cwg-table-helper"]
	path = cwg-table-helper
	url = https://github.com/jerroldneal/cwg-table-helper.git
